.inputForm {
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    background-color: rgba(197, 220, 207, 0.42);
    padding: 50px;
    border-radius: 10px;
    border: 2px solid rgba(48, 56, 48, 0.42);
}
.textFieldGrid {
    margin-bottom: 50px;
}
